---
import { Image } from 'astro:assets';
import MakeThingsHappenImage from "../../assets/images/make-things-happen.png";
import { getCollection } from 'astro:content';
import SectionHeader from "../ui/SectionHeader.astro";
import ServiceCard from "./ServiceCard.astro";
import Button from "../ui/Button.astro";

const heading = "Services";
const subHeading =
  "At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:";

const allServices = await getCollection('services');
const serviceCardData = allServices.sort((a, b) => a.data.order - b.data.order).map(s => s.data);
---

<div class="w-full h-auto flex flex-col my-[3rem] items-center justify-center">
  <div class="w-[88%] h-`100%` mb-[1rem] flex flex-col gap-[2rem]">
    <SectionHeader heading={heading} subHeading={subHeading} />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {serviceCardData.map((service) => <ServiceCard {...service} />)}
    </div>

    <div>
      <div
        class="h-[14rem] max-md:h-auto mt-[1rem] rounded-3xl py-[1rem] bg-heyOzGray flex items-center justify-center"
      >
        <div class="flex w-[90%] justify-between max-md:justify-center items-center">
          <div
            class="w-[50%] max-md:flex-1 max-md:items-center h-[85%] flex flex-col items-start justify-between gap-[1.5rem]"
          >
            <h3 class="text-2xl font-medium">Let’s make things happen</h3>
            <p class="text-sm">
              Contact us today to learn more about how our digital marketing
              services can help your business grow and succeed online.
            </p>
            <Button variant="outline" class="bg-black text-white"
              >Get your free proposal</Button
            >
          </div>

          <div class="w-[50%] h-[85%] flex flex-col items-end justify-center max-md:hidden">
            <Image
              src={MakeThingsHappenImage}
              alt="Contact Us"
              class="h-[17rem]"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
