---
import LearnMoreNavigation from "../ui/LearnMoreNavigation.astro";
---

<div class="h-full flex justify-center items-center mt-[1rem]">
  <div
    class="w-full flex flex-col lg:flex-row items-center lg:items-stretch justify-center bg-dark rounded-3xl h-auto px-8 lg:px-12 py-8"
  >
    <div class="flex-1 py-8 px-8 flex flex-col items-start justify-center">
      <p class="text-white">
        For a local restaurant, we implemented a targeted PPC campaign that
        resulted in a 50% increase in website traffic and a 25% increase in
        sales.
      </p>
      <LearnMoreNavigation />
    </div>
    <div class="w-full h-px lg:w-px lg:h-auto bg-white/60 my-4 lg:my-0"></div>
    <div class="flex-1 py-8 px-8">
      <p class="text-white">
        For a B2B software company, we developed an SEO strategy that resulted
        in a first page ranking for key keywords and a 200% increase in organic
        traffic.
      </p>
      <LearnMoreNavigation />
    </div>
    <div class="w-full h-px lg:w-px lg:h-auto bg-white/60 my-4 lg:my-0"></div>
    <div class="flex-1 py-8 px-8">
      <p class="text-white">
        For a national retail chain, we created a social media marketing
        campaign that increased followers by 25% and generated a 20% increase in
        online sales.
      </p>
      <LearnMoreNavigation />
    </div>
  </div>
</div>
