---
import { getCollection } from 'astro:content';
import LearnMoreNavigation from "../ui/LearnMoreNavigation.astro";

const allCaseStudies = await getCollection('case-studies');
const caseStudies = allCaseStudies.sort((a, b) => a.data.order - b.data.order);
---

<div class="h-full flex justify-center items-center mt-[1rem]">
  <div
    class="w-full flex flex-col lg:flex-row items-center lg:items-stretch justify-center bg-dark rounded-3xl h-auto px-8 lg:px-12 py-8"
  >
    {caseStudies.map((caseStudy, index) => (
      <>
        <div class="flex-1 py-8 px-8 flex flex-col items-start justify-center">
          <p class="text-white">
            {caseStudy.data.description}
          </p>
          <LearnMoreNavigation />
        </div>
        {index < caseStudies.length - 1 && (
          <div class="w-full h-px lg:w-px lg:h-auto bg-white/60 my-4 lg:my-0"></div>
        )}
      </>
    ))}
  </div>
</div>
