---
import SectionHeader from "../ui/SectionHeader.astro"

const heading = 'Case Studies'
const subHeading = `Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies`;
---


<div class="h-[50vh] w-full flex justify-center items-center">
    <div class="w-[96%]">
        <SectionHeader heading={heading} subHeading={subHeading} />
    </div>
</div>