
<div class="max-sm:mb-[4rem]w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-6 py-8 place-items-center">
    <img src="/Amazon.png" alt="Amazon" class="h-12 object-contain" />
    <img src="/Dribble.png" alt="Dribble" class="h-12 object-contain" />
    <img src="/HubSpot.png" alt="HubSpot" class="h-12 object-contain" />
    <img src="/Netflix.png" alt="Netflix" class="h-12 object-contain" />
    <img src="/Notion.png" alt="Notion" class="h-12 object-contain" />
    <img src="/Zoom.png" alt="Zoom" class="h-12 object-contain" />
</div>