
<div class="w-full flex justify-around h-[20vh] items-center">
    <img src="/Amazon.png" alt="Amazon" class="h-12 object-contain" />
    <img src="/Dribble.png" alt="Dribble" class="h-12 object-contain" />
    <img src="/HubSpot.png" alt="HubSpot" class="h-12 object-contain" />
    <img src="/Netflix.png" alt="Netflix" class="h-12 object-contain" />
    <img src="/Notion.png" alt="Notion" class="h-12 object-contain" />
    <img src="/Zoom.png" alt="Zoom" class="h-12 object-contain" />
</div>