---
import CompaniesLogos from './CompaniesLogos.astro';
import HeroSection from './HeroSection.astro';
---

<div class="w-full flex flex-col my-[3rem] items-center justify-center">
    <HeroSection />
    <CompaniesLogos />
</div>