---
import { getCollection } from 'astro:content';
import Button from "../ui/Button.astro";
import SectionHeader from "../ui/SectionHeader.astro"
import MemberCard from "./MemberCard.astro";

const heading = "Team";
const subHeading = "Meet the skilled and experienced team behind our successful digital marketing strategies";

const allMembers = await getCollection('team');
const membersData = allMembers.sort((a, b) => a.data.order - b.data.order).map(m => m.data);
---


<div class="w-full h-auto flex flex-col my-[3rem] items-center justify-center">
    <div class="flex flex-col w-[88%] gap-[2rem]">
        <SectionHeader heading={heading} subHeading={subHeading} />
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[2rem]">
            {membersData.map((member) => <MemberCard {...member} />)}
        </div>
        <div class="flex my-[1rem] justify-end">
            <Button variant="outline" class="px-8 py-4 text-lg bg-black text-white">
                See all team
            </Button>
        </div>
    </div>
</div>
