---
// import WelcomePage from '@components/WelcomePage.astro';
import Layout from "@layouts/Layout.astro";
import HeroSection from "@components/hero/Index.astro";
import CaseStudies from "@components/case-studies/Index.astro";
import WorkingProcess from "@components/working-process/Index.astro";
import Services from "@components/services/Index.astro";
import Team from "@components/team/Index.astro";
import ContactUs from "@components/contact-us/Index.astro";
import Footer from "@components/footer/Index.astro";
import Testimonials from "@components/testimonials/Index.astro";
---

<Layout title="HeyOz - Home">
  <div class="max-w-screen-xl mx-auto w-full px-4">
    <HeroSection />
    <Services />
    <CaseStudies />
    <WorkingProcess />
    <Team />
    <Testimonials />
    <ContactUs />
  </div>
  <Footer />
  <!-- <WelcomePage /> -->
  <!-- <Navbar /> -->
</Layout>
