---
import '@fontsource-variable/space-grotesk';
import '@styles/global.css';
import Navbar from '@components/ui/Navbar.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'HeyOz', description = 'Welcome to HeyOz' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="CvdXmsHUzt-7-ruJuj4qOzakjhAQ95lMTc9QBVm-QfE" />
		<link rel="preload" href="/_astro/space-gro....BhU9QXUp.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/_astro/index.B4f9YzbD.css" as="style">
				<title>{title}</title>
				<script type="application/ld+json">
				{
					"@context": "https://schema.org",
					"@type": "Organization",
					"name": "HeyOz",
					"url": "https://hey-oz-frontend.vercel.app/",
					"logo": "/favicon.svg",
					"description": "Welcome to HeyOz"
				}
				</script>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
	</body>
</html>
