---
interface Props {
    heading: string;
    subHeading: string;
}

const { heading, subHeading } = Astro.props;

---



<div class="w-full flex gap-[20px]">
    <h2 class="text-3xl text-black font-medium bg-heyOzGreen px-[7px] rounded-md">
        {heading}
    </h2>
    <p class="w-[30%] text-[12px]">{subHeading}</p>
</div>